@{
    ViewBag.Title = "My Results";
    ViewBag.Message = "This is where we can have all the surveys the user has already taken visible to be clicked on.\nOnce a survey is clicked on, we can use D3 to visualize the data in another page or in a pop up with the statistics";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>
