@{
    ViewBag.Title = "Take Surveys";
    ViewBag.Message = "We can  use this page to list all of the various surveys our users can take.\n When they click on one, they are reffered to another page where they can complete the survey";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>

