@model Capstone_Project.ViewModel.SurveyViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Option)
    @Html.TextBoxFor(m => m.Option, new { @class = "form-control"})
    @Html.ValidationMessageFor(m => m.Option)
</div>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
