@model Capstone_Project.ViewModel.SurveyViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Options[1].Name)
    @Html.TextBoxFor(m => m.Options[1].Name, new { @class = "form-control", placeholder = "Option Name" })
    @Html.ValidationMessageFor(m => m.Options[1].Name)
</div>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
