@model Capstone_Project.Models.Survey

@{
    ViewBag.Title = "Create a Survey";
    ViewBag.Message = "This is where a researcher can create a survey.";
}
<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>

<link rel="stylesheet" href="../../Content/jquery-sortable.css.sass">

<ol class='example' style="">
    <li>First</li>
    <li>Second</li>
    <li>Third</li>
</ol>
<script src='/Scripts/jquery-sortable.js'></script>
<script src="../../Scripts/surveyUI.js"></script>

