@model IEnumerable<Capstone_Project.Models.Survey>

@{
    ViewBag.Title = "Surveys";
    ViewBag.Message = "We can  use this page to list all of the various surveys our users can take.\n When they click on one, they are reffered to another page where they can complete the survey";
}
<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>

<hr />

    <table id="surveys" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Survey</th>
                <th>Owner</th>
                <!--<th>Delete Survey</th>-->
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

<p><a class="btn btn-primary" href="/Survey/CreateSurvey/">Create a Survey &raquo;</a></p>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#surveys').DataTable({
                ajax: {
                    url: "/api/survey",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, survey) {

                            return "<a href='/survey/takesurvey/" + survey.id + "?userid=" + 55 + "'>" + survey.name + "</a>";//Figure out how to get current users id here?? Something in user identity genereation
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, survey) {
                            if (survey.owner === null) {
                                return 'Enodo';
                            } else {
                                return survey.owner;
                            }
                        }
                    }/*,
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-user-id=" + data + ">Delete</button>";
                        }
                    }*/
                ]
            });

            $('#surveys').on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/survey/" + button.attr("data-survey-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });

            });
        });
    </script>
}
