@model Capstone_Project.ViewModel.SurveyViewModel

@{
    ViewBag.Title = "TakeSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 name="@Model.Survey.Id">@Model.Survey.Name</h2>

<h4 style="margin-top: 1em">Most Favorite</h4>

<ul id="sortable">
    @foreach (var option in Model.Options)
    {
        if (option.SurveyId == Model.Survey.Id)
        {
            <li class="list-group-item" id="surveyOption" name="@option.Id">@option.Name</li>
        }
    }
</ul>

<h4 style="margin-bottom: 1.5em;">Least Favorite</h4>

<script type="text/javascript">
    $(function () {
        $("#sortable").sortable({ containment: 'parent', tolerance: 'pointer', cursor: 'pointer', revert: false, opacity: 0.60 });
        $("#sortable").disableSelection();
    });
</script>


<div class="row">
    <p><a class="btn btn-primary" onclick="getSortableOrderAndRedirect()" type="submit" >Submit &raquo;</a></p>
</div>

<script type="text/javascript">
    function getSortableOrderAndRedirect() {
        var optionIds = [];
        $("ul li#surveyOption").each(function () { optionIds.push($(this).attr("name")) });
        console.log(optionIds);
        localStorage.setItem("surveyOptionIds", optionIds);
        window.location.href = "/Survey/MyResults";
    }</script>