@model Capstone_Project.Models.Survey

@{
    ViewBag.Title = "TakeSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Take Surveys</h2>

<body>
    <ul id="sortable">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
        <li>Item 6</li>
        <li>Item 7</li>
    </ul>
</body>

<div class="row">
    <p><a class="btn btn-default" href="/Survey/MyResults">Submit &raquo;</a></p>
</div>
