@model Capstone_Project.ViewModel.SurveyViewModel

@{
    ViewBag.Title = "TakeSurvey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Survey.Name</h2>

<body>
    <ul id="sortable">
        @foreach (var option in Model.Options)
        {
             if(option.SurveyId == Model.Survey.Id)
             {
                 <li>@option.Name</li>
             }
        }
    </ul>
</body>

<div class="row">
    <p><a class="btn btn-default" href="/Survey/MyResults">Submit &raquo;</a></p>
</div>
