@{
    ViewBag.Title = "What is Enodo?";
}

<h2>@ViewBag.Title</h2>
<div class="about">

    <p class="explanation">
        Enodo is a powerful, simple research tool that connects the scientist to the survey
        and the survey to the subject.
        <br> <br> <br>


        <img src="https://dweaay7e22a7h.cloudfront.net/wp-content_3/uploads/2014/04/CheckBox1.jpg" alt="Checkbox" style="width:500px;height:300px;">
        <br> <br> <br>

        Enodo's goal is to be an easy to use application for scientists and users alike to
        gather data, take serveys, and view servey results. In order to do this, we start
        by having a scientist create a survey. Anyone, or a select group of people if
        they so choose, may then participate in the survey. After the survey has been
        taken, anyone can view the results, which are shown as data clusters in order
        to easily see relationships between certain demographics.
        <br> <br>
    </p>
    <p class="get-started">
        To get started, create an account or sign in to an existing account using the links above.
        <br> <br> <br> <br>
    </p>

    <p class="questions">
        If you have any questions about how Enodo can help you, please don't hesitate to contact us below: <!-- possibly make contact us page -->
        <br> <br>
        <!-- opens default e-mail application -->
        <form action="mailto:hemming.thomas@gmail.com" method="post" enctype="text/plain">
            Name:<br>
            <input type="text" name="name"><br>
            E-mail:<br>
            <input type="text" name="mail"><br>
            Comment:<br>
            <input type="text" name="comment" size="50"><br><br>
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </form>
    </p>
</div>

