@{
    ViewBag.Title = "Dev Notes";
    ViewBag.Message = "On this page you can view the development history of the Enodo project";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>

<hr/>

<style>
    div.panel
    {
        color:#5DBCD2
    }
</style>

<div class="panel march16th">
    <div class="date"><strong> March 16, 2017 </strong></div>
    <div class="committ"> Updated DevNotes <br /> Added a Button to Download Data as a File </div>
</div>

<div class="panel march15th">
    <div class="date"><strong> March 15, 2017 </strong></div>
    <div class="committ"> Bugs Fixed <br /> Shifted radicalCluster Diagram to Center <br /> Shifted Sunburst Down to Allow Bigger Tips <br /> Clusters Have Their Percentage Fields <br /> Shows the Percentage of Each User Relative to the Cluster <br /> Added Countries to Users Visual Info <br /> Top and Lowest Answers For Each User are Now Disaplyed <br /> Added Smarter Regex to Search For Survey IDs <br /> Updated DevNotes <br /> Fixed Bugs <br /> Moved Take Survey Js into Scripts <br /> Fixed the Survey Page </div>
</div>

<div class="panel march14th">
    <div class="date"><strong> March 14, 2017 </strong></div>
    <div class="committ"> Finished All Features <br /> Fixed Indexing for D3 Script <br /> You Can Now Take the Survey and View the Results Right Away </div>
</div>

<div class="panel march13th">
    <div class="date"><strong> March 13, 2017 </strong></div>
    <div class="committ"> Added Ability to Take Surveys, BUT it Broke the Algorithm </div>
</div>

<div class="panel march12th">
    <div class="date"><strong> March 12, 2017 </strong></div>
    <div class="committ"> Moved All Database Handling To The Client </div>
</div>

<div class="panel march11th">
    <div class="date"><strong> March 11, 2017 </strong></div>
    <div class="committ"> Now You Can Take Surveys and Delete Surveys and Users <br /> Survey Page is Working, Again <br /> Added Country to User </div>
</div>

<div class="panel march9th">
    <div class="date"><strong> March 9, 2017 </strong></div>
    <div class="committ"> Updated DevNotes <br /> Updated ResultsController </div>
</div>

<div class="panel march5th">
    <div class="date"><strong> March 5, 2017 </strong></div>
    <div class="committ"> You Can Now Add Users </div>
</div>

<div class="panel march4th">
    <div class="date"><strong> March 4, 2017 </strong></div>
    <div class="committ"> Shifted the Tree to Allow Lengthier Text <br /> Added More Information Items to Dialogs <br /> Mouse Over Highlights Section <br /> Added Tooltips to SunBurst, Now We Can Hover Over User Sections to See Details <br /> Optimized Tree Dialogs <br /> D3 Friendlier Text Formatting </div>
</div>

<div class="panel march3rd">
    <div class="date"><strong> March 3, 2017 </strong></div>
    <div class="committ"> Pop-up Dialogs Now Appear as You Click on Tree Nodes Providing More Information <br /> iFrames are Now Responsive <br /> Fixed General Path Issues for Json Generation <br /> Made D3 Json Paths Dynamic Based on URL Index </div>
</div>

<div class="panel march2nd">
    <div class="date"><strong> March 2, 2017 </strong></div>
    <div class="committ"> Updated Project with Algorithm Working <br /> Updated DevNotes </div>
</div>

<div class="panel february28th">
    <div class="date"><strong> February 28, 2017 </strong></div>
    <div class="committ"> Added BootStrap Accordion To Switch Between Several Diagrams <br /> Added a New SunBrust Diagram in Addition to an Existing Tree Version </div>
</div>

<div class="panel february26nd">
    <div class="date"><strong> February 26, 2017 </strong></div>
    <div class="committ"> Added Two Options to ToFrame.html <br /> Tested Dynamic Paths </div>
</div>

<div class="panel february23rd">
    <div class="date"><strong> February 23, 2017 </strong></div>
    <div class="committ"> Added SurveyResults Table </div>
</div>

<div class="panel february22nd">
    <div class="date"><strong> February 22, 2017 </strong></div>
    <div class="committ"> Small Changes to Create a Survey </div>
</div>

<div class="panel february21nd">
    <div class="date"><strong> February 21, 2017 </strong></div>
    <div class="committ"> Able to Add Options </div>
</div>

<div class="panel february20th">
    <div class="date"><strong> February 20, 2017 </strong></div>
    <div class="committ"> Simplification of Create a Survey <br /> Fixed Link </div>
</div>

<div class="panel february16th">
    <div class="date"><strong> February 16, 2017 </strong></div>
    <div class="committ"> Pushed Entire Project For Project Config <br /> Redesigned D3 Tree, Added Alogrithm Sample </div>
</div>

<div class="panel february15th">
    <div class="date"><strong> February 15, 2017 </strong></div>
    <div class="committ"> Updated Thomas's Photo <br /> Updated MeetTheTeam <br /> Added Group Photo <br /> Reordered Individual Entries </div>
</div>

<div class="panel february14th">
    <div class="date"><strong> February 14, 2017 </strong></div>
    <div class="committ"> Updated DevNotes </div>
</div>

<div class="panel february10th">
    <div class="date"><strong> February 10, 2017 </strong></div>
    <div class="committ"> Finished WebAPI </div>
</div>

<div class="panel february9th">
    <div class="date"><strong> February 9, 2017 </strong></div>
    <div class="committ"> Added Most of the New API <br /> About Pages <br /> Added Segmented Sliders Instead of Ugly Radio Buttons </div>
</div>

<div class="panel february8th">
    <div class="date"><strong> February 8, 2017 </strong></div>
    <div class="committ"> Tree Branches Width Increased <br /> Made Results Interactive <br /> Added Text to the Tree Nodes, and Made Nodes Interactive <br /> Added Diagram Pics </div>
</div>

<div class="panel february7th">
    <div class="date"><strong> February 7, 2017 </strong></div>
    <div class="committ"> Added Survey Description <br /> The Start of Creating a Survey </div>
</div>

<div class="panel february5th">
    <div class="date"><strong> February 5, 2017 </strong></div>
    <div class="committ"> Hid the iFrame Border <br /> iFramed the Visuals JS <br /> Fixed Data Visuals </div>
</div>

<div class="panel february4th">
    <div class="date"><strong> February 4, 2017 </strong></div>
    <div class="committ"> Added Devnotes.cshtml </div>
</div>

<div class="panel february2nd" >
  <div class="date"><strong> February 2, 2017 </strong></div>
  <div class="committ"> Updated MeetTheTeam.cshtml </div>
</div>

<div class="panel february1st">
  <div class="date"><strong> February 1, 2017 </strong></div>
  <div class="committ"> Updated takeSurvey </div>
</div>

<div class="panel january31st">
  <div class="date"><strong> January 31, 2017 </strong></div>
  <div class="committ"> Foundation for Meet the Team Page Built </div>
</div>

<div class="panel january30th">
  <div class="date"><strong> January 30, 2017 </strong></div>
  <div class="committ"> Added Results to Nav Bar, Made its Own Controller and Index Page </div>
</div>

<div class="panel january28th">
  <div class="date"><strong> January 28, 2017 </strong></div>
  <div class="committ"> Updated TakeSurvey.cshtml </div>
</div>

<div class="panel january26th">
  <div class="date"><strong> January 26, 2017 </strong></div>
  <div class="committ"> Fixed Register and Login <br /> Added Validation to User <br /> Added the Algorithms </div>
</div>

<div class="panel january25th">
  <div class="date"><strong> January 25, 2017 </strong></div>
  <div class="committ"> Updated Survey to Send the Order to myResultspage <br /> Changed Button Style </div>
</div>

<div class="panel january24th">
  <div class="date"><strong> January 24, 2017 </strong></div>
  <div class="committ"> Added Races and Genders to User Form </div>
</div>

<div class="panel january23rd">
  <div class="date"><strong> January 23, 2017 </strong></div>
  <div class="committ"> Made Surveys Sortable and Styled </div>
</div>

<div class="panel january21st">
  <div class="date"><strong> January 21, 2017 </strong></div>
  <div class="committ"> Fixed takeSurvey Styling <br /> Removed Sortable CSS That Messed up the TakeSurveys Options <br /> Added jquery-sortable.html to Root <br /> Added Suverys with Options <br /> Reorganized Links to Pages <<br /> Added Demographic Info to User Form </div>
</div>

<div class="panel january19th">
  <div class="date"><strong> January 19, 2017 </strong></div>
  <div class="committ"> Fixed MyResults <br /> Added Take Survey Stuff </div>
</div>

<div class="panel january18th">
  <div class="date"><strong> January 18, 2017 </strong></div>
  <div class="committ"> Specified the View to be Open <br /> Json Path Fixed <br /> Js Libraries Added <br /> Added D3 Script <br /> Updated Databases <br /> Added Survey Controller <br /> Updated Database <br /> Updated userForm </div>
</div>

<div class="panel january17th">
  <div class="date"><strong> January 17, 2017 </strong></div>
  <div class="committ"> Added Editable New User Form <br /> Updated Home Page, Created About and Survey Page, and Changed the Theme </div>
</div>

<div class="panel january16th">
  <div class="date"><strong> January 16, 2017 </strong></div>
  <div class="comitt"> Added Users and User Controller/Views <br /> Renamed Project to Enodo </div>
</div>

<div class="panel january15th">
  <div class="date"><strong> January 15, 2017 </strong></div>
  <div class="committ"> D3 Visual Example </div>
</div>

<div class="panel january12th">
  <div class="date"><strong> January 12, 2017 </strong></div>
  <div class="committ"> Updated Git Workflow and MVC5 Set Up.md <br /> Updated and Renamed Git Workflow.txt to Git Workflow and MVC Set Up.md <br /> Added Git Workflow.txt, Contains Git Advice and Troubleshooting Directions For the Project <br /> Formatted Code <br /> Added Tools Notes </div>
</div>

<div class="panel january11th">
  <div class="date"><strong> January 11, 2017 </strong></div>
  <div class="comitt"> Added Notes to Pages </div>
</div>

<div class="panel january9th">
  <div class="date"><strong> January 9, 2017 </strong></div>
  <div class="committ"> Updated possibleTools.md <br /> Added MVC Demo </div>
</div>

<div class="panel january8th">
    <div class="date"><strong> January 8, 2017 </strong></div>
    <div class="committ"> Renamed possibleTechnologies.md to possibleTools.md <br/> Added Tools Notes <br/> Initial Commit </div>
</div>
