@{
    ViewBag.Title = "Dev Notes";
    ViewBag.Message = "On this page you can view the development history of the Enodo project";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>

<hr/>

<style>
    div.panel
    {
        color:#5DBCD2
    }
</style>

<div class="panel february4th">
    <div class="date"><strong> February 4, 2017 </strong></div>
    <div class="committ"> Added Devnotes.cshtml </div>
</div>

<div class="panel february2nd" >
  <div class="date"><strong> February 2, 2017 </strong></div>
  <div class="committ"> Updated MeetTheTeam.cshtml </div>
</div>

<div class="panel february1st">
  <div class="date"><strong> February 1, 2017 </strong></div>
  <div class="committ"> Updated takeSurvey </div>
</div>

<div class="panel january31st">
  <div class="date"><strong> January 31, 2017 </strong></div>
  <div class="committ"> Foundation for Meet the Team page built </div>
</div>

<div class="panel january30th">
  <div class="date"><strong> January 30, 2017 </strong></div>
  <div class="committ"> Added results to nav bar, made its own controller and index page </div>
</div>

<div class="panel january28th">
  <div class="date"><strong> January 28, 2017 </strong></div>
  <div class="committ"> Updated TakeSurvey.cshtml </div>
</div>

<div class="panel january26th">
  <div class="date"><strong> January 26, 2017 </strong></div>
  <div class="committ"> Fixed register and login <br /> Added validation to user <br /> Added the algorithms </div>
</div>

<div class="panel january25th">
  <div class="date"><strong> January 25, 2017 </strong></div>
  <div class="committ"> Updated survey to send the order to myResultspage <br /> Changed button style </div>
</div>

<div class="panel january24th">
  <div class="date"><strong> January 24, 2017 </strong></div>
  <div class="committ"> Added races and genders to user form </div>
</div>

<div class="panel january23rd">
  <div class="date"><strong> January 23, 2017 </strong></div>
  <div class="committ"> Made surveys sortable and styled </div>
</div>

<div class="panel january21st">
  <div class="date"><strong> January 21, 2017 </strong></div>
  <div class="committ"> Fixed takeSurvey styling <br /> Removed sortable css that messed up the TakeSurveys options <br /> Added jquery-sortable.html to root <br /> Added suverys with options <br /> Reorganized links to pages <<br /> Added demographic info to user form </div>
</div>

<div class="panel january19th">
  <div class="date"><strong> January 19, 2017 </strong></div>
  <div class="committ"> Trying to fix MyResults, and added take survey stuff </div>
</div>

<div class="panel january18th">
  <div class="date"><strong> January 18, 2017 </strong></div>
  <div class="committ"> Specified the view to be open <br /> Json path fixed <br /> Js libraries added <br /> Added D3 script <br /> Updated databases <br /> Added survey controller <br /> Updated database <br /> Updated userForm </div>
</div>

<div class="panel january17th">
  <div class="date"><strong> January 17, 2017 </strong></div>
  <div class="committ"> Added editable new user form <br /> Updated home page, created about and survey page, and changed the theme </div>
</div>

<div class="panel january16th">
  <div class="date"><strong> January 16, 2017 </strong></div>
  <div class="comitt"> Added users and user controller/views <br /> Renamed project to Enodo </div>
</div>

<div class="panel january15th">
  <div class="date"><strong> January 15, 2017 </strong></div>
  <div class="committ"> D3 Visual Example </div>
</div>

<div class="panel january12th">
  <div class="date"><strong> January 12, 2017 </strong></div>
  <div class="committ"> Updated Git Workflow and MVC5 Set Up.md <br /> Updated and renamed Git Workflow.txt to Git Workflow and MVC Set Up.md <br /> Added Git Workflow.txt, contains git advice and troubleshooting directions for the project <br /> Formatted code <br /> Added tools notes </div>
</div>

<div class="panel january11th">
  <div class="date"><strong> January 11, 2017 </strong></div>
  <div class="comitt"> Added notes to pages </div>
</div>

<div class="panel january9th">
  <div class="date"><strong> January 9, 2017 </strong></div>
  <div class="committ"> Updated possibleTools.md <br /> Added MVC Demo </div>
</div>

<div class="panel january8th">
  <div class="date"><strong> January 8, 2017 </strong></div>
  <div class="committ"> Renamed possibleTechnologies.md to possibleTools.md <br /> Added tools notes <br /> Initial commit </div>
</div>