@{
    ViewBag.Title = "Enodo";
}

<div class="jumbotron">
    <h1>Enodo</h1>
    <p class="lead">
        Enodo is a powerful, simple research tool that connects the scientist to the
        survey<br>and the survey to the subject.
    </p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Researchers</h2>
        <p>
            Enodo allows you to create and administer surveys, as well as analyze your results.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Get started &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Participants</h2>
        <p>Effortlessly engage in a study with Enodo. All you need is an invitation.</p>
        <p><a class="btn btn-default" href="/Account/Register">Sign up &raquo;</a></p>
    </div>
</div>