
@{
    ViewBag.Title = "MeetTheTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meet The Team</h2>



<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Cody Nicholson</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <a href="https://avatars1.githubusercontent.com/u/12117258?v=3&s=400" class="thumbnail">
                    <img src="https://avatars1.githubusercontent.com/u/12117258?v=3&s=400">
                </a>
            </div>
            <div class="col-md-9">
                <br/>
                <p>Cody is a Junior Undergraduate Student at DePaul University who loves to learn and has a wide variety of different technical skills in the fields of Web Applications Development, Artifical Intelligence, Data Science, Quality Assurance, Machine Learning, and Technology Leadership. </p>
                <br/>
                <p>Full-Stack Developer on the Enodo project</p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Jeremy Hebeda</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <a href="https://avatars3.githubusercontent.com/u/23484041?v=3&u=d2c2c511ba67583be0fd720b59a27c38bd6f1983&s=400" class="thumbnail">
                    <img src="https://avatars3.githubusercontent.com/u/23484041?v=3&u=d2c2c511ba67583be0fd720b59a27c38bd6f1983&s=400">
                </a>
            </div>
            <div class="col-md-9">
                <br />
                <p>Hi, my name is Jeremy, currently a student at DePaul University working towards a degree in Computer Science while living in the Chicago Loop. Massive nerd, big into video games, cartoons, dragons, and spending way too much time playing table-top RPG's.</p>
                <br />
                <p>Front-End Engineer on the Enodo project</p>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Brian Hymel</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <a href="https://i.groupme.com/200x200.jpeg.2259eefd41a1431cb08fb9a863a979c1" class="thumbnail">
                    <img src="https://i.groupme.com/200x200.jpeg.2259eefd41a1431cb08fb9a863a979c1">
                </a>
            </div>
            <div class="col-md-9">
                <br />
                <p>Brian likes sweatpants and algorithms</p>
                <br />
                <p>Back-End Development Engineer on the Enodo project</p>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Tim Abil</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <a href="https://i.groupme.com/1024x1024.jpeg.1fbceebd688f44b99b599dbbd7c4863c" class="thumbnail">
                    <img src="https://i.groupme.com/1024x1024.jpeg.1fbceebd688f44b99b599dbbd7c4863c">
                </a>
            </div>
            <div class="col-md-9">
                <br />
                <p>Tim Abil is a student at DePaul University from Chicago, Illinois majoring in Computer Science and Mathematics, focusing on undergraduate research in Chemistry</p>
                <br />
                <p>Data Visualization Engineer on the Enodo project</p>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Ermin Memic</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <a href="https://i.groupme.com/750x750.jpeg.e9727049dafc43339ef9a7c7480c4e61" class="thumbnail">
                    <img src="https://i.groupme.com/750x750.jpeg.e9727049dafc43339ef9a7c7480c4e61">
                </a>
            </div>
            <div class="col-md-9">
                <br />
                <p>Ermin Memic is a junior at DePaul University born and raised in Chicago, Illinois. Ermin is studying Information Systems with a minor in Interactive & Social Media, and Real Estate</p>
                <br />
                <p>Project Management on the Enodo project</p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Rachel Clevenger</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="http://www.jennybeaumont.com/wp-content/uploads/2015/03/placeholder.gif">
                </a>
            </div>
            <div class="col-md-9">
                <br />
                <p>Rachel Clevenger is a senior Mathematics and Computer Science student and a preschool teacher. She is currently working on a project to introduce preschool-aged children to programming.</p>
                <br />
                <p>Front-End Engineer on the Enodo project</p>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Thomas Hemming</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="thumbnail">
                    <img src="http://www.jennybeaumont.com/wp-content/uploads/2015/03/placeholder.gif">
                </a>
            </div>
            <div class="col-md-9">
                <br />
                <p>Thomas Hemming is a DePaul University student originally from Vancouver, Canada. He is studying Computer Science with a focus in Software Engineering.</p>
                <br />
                <p>Software Engineer on the Enodo project</p>
            </div>
        </div>
    </div>
</div>
