@model Capstone_Project.ViewModel.CreateSurveysViewModel

@{
    ViewBag.Title = "Add Options";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Options</h2>



<button type="submit" class="btn btn-primary">Preview</button>  <button type="submit" class="btn btn-primary">Invite Subjects</button>