@model IEnumerable<Capstone_Project.Models.Survey>

@{
    ViewBag.Title = "Results";
    ViewBag.Message = "This is the page where you can view your results compared against everyone else who has taken the survey.";
}
<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>

<hr/>

    <table id="results" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Survey Results</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('#results').DataTable({

                ajax: {
                    url: "/api/survey",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id",
                        render: function (data, type, survey) {
                            //console.log(survey);
                            if (survey.isTaken === "True") {
                                return "<a href='/results/showresults/" + survey.id + "'>" + survey.name + "</a>";
                            } else {
                                return survey.name + " (This survey is not taken yet)";
                            }
                            
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, survey) {
                            if (survey.owner === null || survey.owner === "") {
                                return 'Enodo';
                            } else {
                                return survey.owner;
                            }
                        }
                    }
                ]
            });
        });
    </script>
}
