@model Capstone_Project.Models.Survey

@{
    ViewBag.Title = @Model.Name + " Survey Results";
    ViewBag.Message = "This is the page where you can view your results compared against everyone else who has taken the survey.";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="~/Scripts/libraries/d3.geom.js"></script>
<script src="~/Scripts/libraries/d3.layout.js"></script>
<script src="~/Scripts/sketch.js"></script>
<script type="text/javascript">window.onload = console.log(localStorage.getItem("surveyOptionIds"));</script>

<h4><script type="text/javascript">document.write(localStorage.getItem("surveyOptionIds"));</script></h4>
