@model IEnumerable<Capstone_Project.Models.User>
@{
    ViewBag.Title = "Users";
    ViewBag.Message = "This is the list of all of our users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>

<hr />

    <table id="users" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Username</th>
                <th>Membership Type</th>
                <th>Delete User</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

<p><a class="btn btn-primary" href="/Users/New">Create User</a></p>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $('#users').DataTable({
                ajax: {
                    url: "/api/user",
                    dataSrc: ""
                },
                columns: [
                {
                    data: "name",
                    render: function(data, type, user) {
                        return "<a href='/users/edit/" + user.id + "'>" + user.name + "</a>";
                    }
                },
                {
                    data: "isResearcher",
                    render: function(data, type, user) {
                        if (user.isResearcher === false) {
                            return "Standard User";
                        } else {
                            return "Researcher";
                        }
                    }
                },
                {
                    data: "id",
                    render: function(data) {
                        return "<button class='btn-link js-delete' data-user-id=" + data + ">Delete</button>";
                    }
                }
            ]
        });

        $('#users').on("click", ".js-delete", function() {
            var button = $(this);

            bootbox.confirm("Are you sure you want to delete this customer?", function(result) {
                if (result) {
                    $.ajax({
                        url: "/api/user/" + button.attr("data-user-id"),
                        method: "DELETE",
                        success: function() {
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });

        });
    });
    </script>
}
